[submodule "vim/pack/other/start/-b"]
	path = vim/pack/other/start/-b
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/pack/other/start/vim-abolish"]
	path = vim/pack/other/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	branch = master
[submodule "vim/pack/other/start/vim-airline"]
	path = vim/pack/other/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "vim/pack/other/start/vim-airline-themes"]
	path = vim/pack/other/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master
[submodule "vim/pack/other/start/colorizer"]
	path = vim/pack/other/start/colorizer
	url = https://github.com/lilydjwg/colorizer.git
	branch = master
[submodule "vim/pack/other/start/vim-gitgutter"]
	path = vim/pack/other/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "vim/pack/other/start/html5.vim"]
	path = vim/pack/other/start/html5.vim
	url = https://github.com/othree/html5.vim.git
	branch = master
[submodule "vim/pack/other/start/vim-javascript"]
	path = vim/pack/other/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	branch = master
[submodule "vim/pack/other/start/vim-jsx"]
	path = vim/pack/other/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
	branch = master
[submodule "vim/pack/other/start/vim-ledger"]
	path = vim/pack/other/start/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
	branch = master
[submodule "vim/pack/other/start/neomake"]
	path = vim/pack/other/start/neomake
	url = https://github.com/neomake/neomake.git
	branch = master
[submodule "vim/pack/other/start/vim-surround"]
	path = vim/pack/other/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "vim/pack/other/start/tagbar"]
	path = vim/pack/other/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
[submodule "vim/pack/other/start/vimtex"]
	path = vim/pack/other/start/vimtex
	url = https://github.com/lervag/vimtex.git
	branch = master
[submodule "vim/pack/other/start/vim-vue"]
	path = vim/pack/other/start/vim-vue
	url = https://github.com/posva/vim-vue.git
	branch = master
[submodule "vim/pack/other/opt/vdebug"]
	path = vim/pack/other/opt/vdebug
	url = https://github.com/vim-vdebug/vdebug.git
	branch = master
[submodule "vim/pack/mine/start/vim-twig"]
	path = vim/pack/mine/start/vim-twig
	url = https://github.com/Eluminae/vim-twig.git
	branch = master
[submodule "vim/pack/mine/start/vim-LanguageTool"]
	path = vim/pack/mine/start/vim-LanguageTool
	url = https://github.com/Eluminae/vim-LanguageTool.git
	branch = master
[submodule "programs/dotdrop"]
	path = programs/dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
	branch = master
[submodule "vim/pack/other/start/dbext.vim"]
	path = vim/pack/other/start/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "vim/pack/other/start/emmet-vim"]
	path = vim/pack/other/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/pack/other/start/vim-easy-align"]
	path = vim/pack/other/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
	branch = master
[submodule "vim/pack/other/opt/emmet-vim"]
	path = vim/pack/other/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
	branch = master
[submodule "vim/pack/other/start/base16-vim"]
	path = vim/pack/other/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
	branch = master
[submodule "config/base16-shell"]
	path = base16/shell
	url = https://github.com/chriskempson/base16-shell.git
	branch = master
[submodule "base16/qutebrowser"]
	path = base16/qutebrowser
	url = https://github.com/theova/base16-qutebrowser.git
	branch = master
[submodule "base16/i3"]
	path = base16/i3
	url = https://github.com/khamer/base16-i3.git
	branch = master
[submodule "base16/dunst"]
	path = base16/dunst
	url = https://github.com/khamer/base16-dunst.git
[submodule "base16/gtk2"]
	path = base16/gtk2
	url = https://github.com/dawikur/base16-gtk2.git
[submodule "base16/rofi"]
	path = base16/rofi
	url = https://gitlab.com/0xdec/base16-rofi.git
[submodule "base16/base16-termite"]
	path = base16/termite
	url = https://github.com/khamer/base16-termite.git
	branch = master
[submodule "base16/xresources"]
	path = base16/xresources
	url = https://github.com/chriskempson/base16-xresources.git
	branch = master
[submodule "base16/i3status"]
	path = base16/i3status
	url = https://github.com/Eluminae/base16-i3status.git
	branch = master
