
#------------------------------------------------------------
# Vi Key Bindings
#------------------------------------------------------------

# Moving around
bind attach,browser,index g  noop
bind attach,browser,index gg first-entry
bind attach,browser,index G  last-entry
bind pager                g  noop
bind pager                gg top
bind pager                G  bottom

# Scrolling
bind attach,browser,pager,index \Cf next-page
bind attach,browser,pager,index \Cb previous-page
bind attach,browser,pager,index \Cu half-up
bind attach,browser,pager,index \Cd half-down
bind browser,pager              \Ce next-line
bind browser,pager              \Cy previous-line
bind index                      \Ce next-line
bind index                      \Cy previous-line

bind index   M  middle-page
bind index   L  bottom-page
bind generic k  previous-line
bind generic j  next-line
bind generic z  noop
bind generic zz current-middle
bind generic zb current-bottom
bind generic zt current-top

# Threads
bind browser,pager,index N  search-opposite
bind index               za collapse-thread
bind index               zA collapse-all
