[Desktop Entry]
Type=Application
Name=Cmus
GenericName=Music Player
Icon=spotify-client
TryExec=cmus
Exec=cmus
Terminal=true
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=Cmus
