[Desktop Entry]
Type=Application
Name=Steam
GenericName=Game Launcher
Icon=steam-client
TryExec=steam
Exec=steam
Terminal=fale
MimeType=x-scheme-handler/steam;
Categories=Gaming;
StartupWMClass=Steam
